
<div class="histories-index">
<% @histories.each do |history| %>
  <p><%= history.tabaco.id  %></p>
  <p><%= history.brand %></p>
  <p><%= history.price %></p>
  <p><%= history.volume %></p>
<% end %>

</div>

